/* estilos generales */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: rgb(37, 49, 109);
}

h1 {
    display: inline-block;
    font-family: 'Lobster Two', arial;
    padding: 10px 0 0 0;
    font-size: 3em;
}

h2 {
    font-family: 'Lobster Two', arial;
}

a:active, a:visited {
    color: rgb(37, 49, 109);
}

/* navegador y header */

.slogan {
    font-family: 'Lobster Two', arial;
    font-size: 1.75em;
}

img.logo {
    width: 45px;
    height: 45px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    padding: 5px;
}

nav a {
    background-color: rgb(254, 245, 172);
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    font-family: 'Lobster Two', arial;
    font-size: 1.25em;
    transition: 0.2s all;
}

nav a:hover {
    background-color: rgb(255, 238, 108);
}

main {
    background-color: rgb(95, 111, 148);
}

/* flexbox categorias */

.flexCategorias {
    padding: 30px 0;
	/* Flexbox */
	display: flex;
	gap: 40px;
    justify-content: center;

	/* Grid 
	display: grid;
	grid-template-columns: 3fr;
	gap: 20px; */
}

.imgCard {
	border-radius: 40px;
	min-height: 400px;
	width: 70%;
	transition: 0.5s all;
    border: 0.6vh solid rgba(0, 0, 0, 0);
    position: relative;
}

.imgCard:hover {
    border: 0.6vh solid black;
}

.card {
    position: relative;
}

.textosCat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
}

/* grid noticias */

.gridGeneral {
    display: inline-grid;
    grid-template-columns: [x0] 67% [x1] 27% [x2];
    grid-template-rows: [y0] 40px [y1] 300px [y2] 300px [y3];
    margin: 0 0 50px 0;
    justify-content: center;
}

.gridGeneral h3 {
    grid-column: x0/x1;
    grid-row: y0/y1;
    font-size: 2em;
    background-color: rgb(37, 49, 109);
    border: 2px solid black;
    width: 100%;
    height: 100%;
    padding-top: 3px;
}

.textoArtMain {
    font-size: 1.5em;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    color: white;
    width: 95%;
    padding: 5px;
}

.textoArtMini {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    color: white;
    width: 95%;
    padding: 5px;
}

#otrasNoticias {
    grid-column: x1/x2;
    grid-row: y0/y1;
}

.artMain {
    grid-column: x0/x1;
    grid-row: y1/y3;
    position: relative;
}

.artMini1 {
    grid-column: x1/x2;
    grid-row: y1/y2;
    position: relative;
}

.artMini2 {
    grid-column: x1/x2;
    grid-row: y2/y3;
    position: relative;
}

.gridGeneral img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.artMain:hover div, .artMini1:hover div, .artMini2:hover div {
    background-color: rgba(0, 0, 0, 0.75);
}

/* grid artículos de noticias */

.gridNoticia {
    display: grid;
    row-gap: 15px;
    grid-template-areas: 
    'fill title title title title fill2'
    'fill autor date type social fill2'
    'fill img img img img fill2'
    'fill main main main main fill2'
    'fill img2 img2 img2 img2 fill2'
    'fill main2 main2 main2 main2 fill2';
}

.gridNoticia p {
    overflow: hidden;
    text-align: justify;
    padding: 10px;
}

.gridNoticia img {
    max-width: 1000px;
    max-height: 500px;
    border: 2px solid black;
}

.noticeFill {
    grid-area: fill;
    background-color: rgb(254, 245, 172);
}

.noticeFill2 {
    grid-area: fill2;
    background-color: rgb(254, 245, 172);
}

.noticeTitle {
    grid-area: title;
}

.noticeAutor {
    grid-area: autor;
    background-color: rgb(151, 210, 236);
}

.noticeDate {
    grid-area: date;
    background-color: rgb(255, 238, 108);
}

.noticeType {
    grid-area: type;
    background-color: rgb(151, 210, 236);
}

.noticeSocial {
    grid-area: social;
    background-color: rgb(255, 238, 108);
}

.noticeImg {
    grid-area: img;
}

.noticeMain {
    grid-area: main;
}

.noticeImg2 {
    grid-area: img2;
}

.noticeMain2 {
    grid-area: main2;
}

.gridNoticia h2 {
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    font-size: 2em;
}

.gridNoticia h3 {
    color: rgb(51, 51, 51);
}

.gridNoticia p {
    font-size: 1.5em;
    margin: 15px 10px 10px 15px;
}

/* formulario */

form {
    background-color: rgb(151, 210, 236);
    border: 4px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    font-size: 1.25em;
    display: inline-block;
    width: 60%;
}

form h2 {
    font-family: Arial, Helvetica, sans-serif;
}

form label, form input, form p {
    padding: 5px;
    margin: 5px;
    text-align: left;
    border-radius: 10px;
}

input[type=text], input[type=email] {
    width: 70%;
}

input[type=submit] {
    width: 30%;
    text-align: center;
    background-color: rgb(254, 245, 172);
    border-radius: 10px;
}
 input[type=submit]:hover {
    background-color: rgb(255, 238, 108);
 }

 #api {
    color: rgb(68, 68, 68);
 }
/* Alerta Newsletter */

.alertaNewsletter {
    display: inline-block;
    font-size: 1.25em;
    color: rgb(37, 49, 109);
    padding: 20px;
    border: 4px solid black;
    border-radius: 20px;
    background-color: rgb(151, 210, 236);
    margin: 20px 0;
    animation: pulse 2s infinite;
}

/* grid footer */

.gridFoot {
    display: grid;
    background-color: rgb(254, 245, 172);
    grid-template-areas: 'redes'
                        'reserved';
    padding: 15px 0;
}


.gridFoot div:first-child {
    display: inline-block;
    grid-area: redes;
}

.gridFoot div:last-child {
    display: inline-block;
    grid-area: reserved;
}

.redsoc, .redsoc:active, .redsoc:visited {
    padding: 0 10px;
    color: rgb(151, 210, 236);
}