/* estilos generales */

* {
    margin: 0;
    padding: 0;
    /* fuente titulos: bungee space */
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: none;
}

header {
    background-color: rgb(37, 49, 109);
}

h1 {
    display: inline-block;
    font-family: 'Lobster Two', arial;
    padding: 10px 0 0 0;
    font-size: 3em;
}

h2 {
    font-family: 'Lobster Two', arial;
}

/* navegador y header */

.slogan {
    font-family: 'Lobster Two', arial;
    font-size: 1.75em;
}

img.logo {
    width: 45px;
    height: 45px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    flex-wrap: wrap;
    padding: 5px;
}

nav a {
    background-color: rgb(254, 245, 172);
    border: 0.3vh solid black;
    border-radius: 0.5vh;
    font-family: 'Lobster Two', arial;
    font-size: 1.25em;
    transition: 0.2s all;
}

nav a:hover {
    background-color: rgb(255, 238, 108);
}

main {
    background-color: rgb(95, 111, 148);
}

/* flexbox categorias */

.flexCategorias {
    padding: 30px 0;
	/* Flexbox */
	display: flex;
	gap: 40px;
    justify-content: center;

	/* Grid 
	display: grid;
	grid-template-columns: 3fr;
	gap: 20px; */
}

.imgCard {
	border-radius: 40px;
	min-height: 400px;
	width: 70%;
	transition: 0.5s all;
    border: 0.6vh solid rgba(0, 0, 0, 0);
    position: relative;
}

.imgCard:hover {
    border: 0.6vh solid black;
}

.card {
    position: relative;
}

.textosCat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: white;
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 10px;
}

/* grid noticias */

.gridGeneral {
    display: inline-grid;
    grid-template-columns: [x0] 67% [x1] 27% [x2];
    grid-template-rows: [y0] 40px [y1] 300px [y2] 300px [y3];
    margin: 0 0 50px 0;
    justify-content: center;
}

.gridGeneral h3 {
    grid-column: x0/x1;
    grid-row: y0/y1;
    font-size: 2em;
    background-color: rgb(37, 49, 109);
    border: 2px solid black;
    width: 100%;
    height: 100%;
    padding-top: 3px;
}

.textoArtMain {
    font-size: 1.5em;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    color: white;
    width: 95%;
    padding: 5px;
}

.textoArtMini {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 0.5s all;
    color: white;
    width: 95%;
    padding: 5px;
}

#otrasNoticias {
    grid-column: x1/x2;
    grid-row: y0/y1;
}

.artMain {
    grid-column: x0/x1;
    grid-row: y1/y3;
    position: relative;
}

.artMini1 {
    grid-column: x1/x2;
    grid-row: y1/y2;
    position: relative;
}

.artMini2 {
    grid-column: x1/x2;
    grid-row: y2/y3;
    position: relative;
}

.gridGeneral img {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.artMain:hover div, .artMini1:hover div, .artMini2:hover div {
    background-color: rgba(0, 0, 0, 0.75);
}

/* grid footer */

.gridFoot {
    display: grid;
    background-color: rgb(254, 245, 172);
    grid-template-areas: 'redes redes redes'
                        'reserved reserved reserved';
}

.redsoc {
    grid-area: redes redes redes;
}

.gridFoot span {
    display: inline-block;
    grid-area: reserved;
}